/* font styles */
body{font-family: 'Poppins', sans-serif;}

/* body */

#style{
    background-color: #358597;
    padding: 0;
    margin: 0;
}

/* heading section */

#heading-style{
    color: #F4A896;
}

/* button design */

#features-button{
    background-color: #F4A896;
    color: white;
    width: 32%;
    border-radius: 5px;
    padding: 4px;
}

#search-button{
    background-color: #F4A896;
    color: white;
    font-weight: bold ;
    width: 35%;
    border-radius: 8px;
}